.childcontent { padding: 40px 60px; }
.childcontent .gkcol { width: 200px; }
body,
h1,h2,h3,h4,h5,h6
button,
.button,
#gkLogo,
input[type="submit"],
input[type="button"],
select,
textarea,
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
.box.border1 .header,
.box.border2 .header,
.box.newsletter .header,
.one-page-layout h2,
.one-page-layout h3,
article header h1,
article header h2,
.category .itemView h2,
.itemView h1,
.itemComments h3,
dl#tabs dt.tabs span h3, 
dl.tabs dt.tabs span h3,
.pane-sliders .panel h3,
#article-index h3,
.contact-form .gkCols h3,
.gk-menu .gkCols h3,
.item-content h1,
.item-content h2,
.item-content h3,
.item-content h4,
.item-content h5,
.item-content h6 { font-family: appleberry, Arial, sans-serif; }
blockquote:before,
blockquote p:after { font-family: Georgia, "Times New Roman", Times, serif; }
.blank { font-family: Verdana, Geneva, sans-serif; }
.blank { font-family: Arial, Helvetica, sans-serif; }
@media screen and (max-width: 780px) {
#k2Container .itemsContainer { width: 100%!important; } 
.cols-2 .column-1,
.cols-2 .column-2,
.cols-3 .column-1,
.cols-3 .column-2,
.cols-3 .column-3,
.demo-typo-col2,
.demo-typo-col3,
.demo-typo-col4 {width: 100%; }
}
@media screen and (min-width: 1920px) {
#gkHeaderMod,
.blog-page > .header,
.single-page > .header,
.search-page .header { height: 920px; }
}

@media screen and (max-width: 1920px) {
#gkHeaderMod,
.blog-page > .header,
.single-page > .header,
.search-page .header { height: 640px; }
}

@media screen and (max-width: 1440px) {
#gkHeaderMod,
.blog-page > .header,
.single-page > .header,
.search-page .header { height: 600px; }
}

@media screen and (max-width: 1040px) {
#gkHeaderMod,
.blog-page > .header,
.single-page > .header,
.search-page .header { height: 480px; }
}

@media screen and (max-width: 840px) {
#gkHeaderMod,
.blog-page > .header,
.single-page > .header,
.search-page .header { height: 440px; }
}

@media screen and (max-width: 640px) {
#gkHeaderMod,
.blog-page > .header,
.single-page > .header,
.search-page .header { height: 360px; }
}

@media screen and (min-width: 1920px) {
.frontpage #gkHeaderMod,
.frontpage .blog-page > .header,
.frontpage .single-page > .header,
.frontpage .search-page .header { height: 880px; }
}

@media screen and (max-width: 1920px) {
.frontpage #gkHeaderMod,
.frontpage .blog-page > .header,
.frontpage .single-page > .header,
.frontpage .search-page .header { height: 800px; }
}

@media screen and (max-width: 1440px) {
.frontpage #gkHeaderMod,
.frontpage .blog-page > .header,
.frontpage .single-page > .header,
.frontpage .search-page .header { height: 640px; }
}

@media screen and (max-width: 1040px) {
.frontpage #gkHeaderMod,
.frontpage .blog-page > .header,
.frontpage .single-page > .header,
.frontpage .search-page .header { height: 500px; }
}

@media screen and (max-width: 840px) {
.frontpage #gkHeaderMod,
.frontpage .blog-page > .header,
.frontpage .single-page > .header,
.frontpage .search-page .header { height: 320px; }
}

@media screen and (max-width: 640px) {
.frontpage #gkHeaderMod,
.frontpage .blog-page > .header,
.frontpage .single-page > .header,
.frontpage .search-page .header { height: 240px; }
}

#gkContent { width: 100%; }

#gkContentWrap { width: 100%; }

.gkPage, #gkHeaderNav .gkPage, #gkMainbody .content { max-width: 1040px; }

#menu1387 > div,
#menu1387 > div > .childcontent-inner { width: 200px; }

#menu1092 > div,
#menu1092 > div > .childcontent-inner { width: 800px; }

#menu1218 > div,
#menu1218 > div > .childcontent-inner { width: 200px; }